/*
    CSS RESET
 */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
body {
    line-height:1;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}
nav ul {
    list-style:none;
}
blockquote, q {
    quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}
/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}
input, select {
    vertical-align:middle;
}
/* END CSS RESET */

body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 20px;
}

p, li {
    font-size: 15px;
    line-height: 22px;
}

.searchbar {
    width: 100%;
    height: 80px;
    background: #A12727;
    position: relative;
    z-index: 9000;
}
.wrapper {
    width: 50%;
    margin: 0 auto;
}

.formPesquisa {
    line-height: 80px;
}

.formPesquisa input {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    padding: 0 10px 0 40px;
    background: url('/static/images/search.png') 7px 7px no-repeat #FFFFFF;
    background-size: 35px;
}

.formPesquisa input:focus {
    outline: none;
}

.resultado {
    display: none;
    width: 55%;
    margin: 0 auto;
    border: 1px solid #e3e3e3;
    box-shadow: 0px 5px 10px #A3A0A0;
    position: relative;
    top: -3px;
    z-index: 9999;
    background: white;
    border-radius: 5px;
}

.arrow-up {
    width: 0px;
    height: 0px;
    position: relative;
    margin: 0 auto;
    top: -17px;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-bottom: 16px solid #e3e3e3;
}

.arrow-up.interna {
    top: -31px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #FFFFFF;
}

.encontrados {
    display: none;
}

.titulo {
    font-size: 20px;
    padding: 20px;
    list-style: none;
    margin-top: -31px;
}

.titulo li {
    line-height: 34px;
    margin-bottom: 10px;
}

.titulo li:last-child {
    margin-bottom: 0;
}

.titulo img {
    float: left;
    margin-right: 15px;
    height: 34px;
}

.buscar ul {
    list-style: none;
}

.sugestoes ul {
    margin-top: 15px;
}

.buscar {
    border-top: 1px solid #e1e1e1;
    padding: 10px 17px;
    color: #716E6E;
}

.buscar span {
    color: #000000;
}

.buscar.sugestoes {
    color: #000000;
}

.buscar a,
.titulo a {
    color: inherit;
    text-decoration: none;
}

.sugestoes p {
    position: relative;
    float: right;
    font-style: italic;
    color: #BAAFAF;
}

.is-active {
    display: block;
}