{% extends 'base.html' %}
{% block corpo %}
	<div class="searchbar">
		<div class="wrapper">
			<form class="formPesquisa" action="" method="post">
				<input class="campoPesquisa" type="search" value="">
			</form>
		</div>
	</div>

	<div class="resultado">
		<div class="arrow-up"></div>
		<div class="arrow-up interna"></div>
		<div class="encontrados is-active">
			<ul class="titulo">
			</ul>
			<div class="buscar sugestoes">
				<p>Sugestões de Busca</p>
				<ul class="busca-json">
				</ul>
			</div>
		</div>
		<div class="buscar naGlobo">
			<ul>
				<li><a class="buscaGlobo" href="#" target="_blank">buscar '<span class="termoPesquisado"></span>' na Globo.com</a></li>
			</ul>
		</div>
		<div class="buscar naWeb">
			<ul>
				<li><a class="buscaWeb" href="#" target="_blank">buscar '<span class="termoPesquisado"></span>' na Web</a></li>
			</ul>
		</div>
	</div>
{% endblock %}